
body{
    background-color: #F3EFE0;}
section{
    max-width: 1000px;
    height: 100%;
    align-items: center;
    background-color: #ffffff;
}
header{
    display: flex;
    background-color: rgb(56, 59, 59);
    justify-content: space-between;
    flex-flow: row-reverse;
}
.logo{
    list-style: none;
    display: flex;
    padding: 5px;
    margin-left: 5px;
    
    
}
.logo li a{
    text-align: center;
    text-decoration: none;
    color: rgb(182, 176, 176);
    font-size: 30px;
    margin-right: 30px;
}

.logo li a:hover{
    color: rgb(241, 241, 241);
}
.nav1{
    list-style: none;
    display: flex;
    padding: 5px;
    margin-left: 5px;
}
.nav1 li a{
    text-align: center;
    text-decoration: none;
    color: rgb(252, 0, 0);
    font-size: 25px;
    margin-right: 20px;
}
#acolor{
    color: rgb(182, 176, 176);
}
.nav1 li a:hover{
color: rgb(255, 255, 255);
}
.title{
    background-color: rgb(56, 59, 59);
    text-align: center;
    font-size: 20px;
    color: rgb(182, 176, 176);
    padding: 10px;
    font-family:   'Arial Narrow Bold', sans-serif

}
.mlt_box{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
    box-shadow: 10px 10px 30%;
   
}
.box_img_p{
    border: 4px double rgb(128, 128, 128);
    width: 300px;
    background-color: rgb(58, 58, 58);
    transition: 0.7s ease;
    color: rgb(255, 255, 255);
}
.box_img_p:hover{
    transform: scale(1.1);
}
.mlt_box img{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}
.mlt_box p{
    text-align: center;
    font-size: large;
    margin: 10px;
}
footer{
    display: flex;
    background-color: rgb(56, 59, 59);
    justify-content: center;
}
.foot{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.foot p{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.foot a{
    text-align: center;
    text-decoration: none;
    color: rgb(145, 162, 235);
    font-size: 20px;
}